<tr>
<td class="img">
	<%= image_tag product.image %>
</td>
<td>
	<%=product.name %>
</td>
    <!--%= f.input :quantity %-->
  <!--div class="actions"-->
    <!--%= f.submit "Agregar" %-->
  <!--/div-->
</tr>
