<div class="cart">
<h3>Carrito</h3>
<% if @cart.items.empty? %>
	<h4>Tu carrito está vacío</h4>
<% else %>
<table>
	<thead>
		<td>Artículo</td>
		<td>Cantidad</td>
		<td>Vas a usar</td>
		<td>Te sobra</td>
	</thead>
	<%for item in @carrito.items %>
		<tr>
			<td>item.product.name </td>
			<td>item.total_quantity</td>
			<td>item.sale_quantity</td>
			<td>item.left_quantity</td>
		</tr>
	<% end %>
</table>
<% end %>
</div>
