<div class="row">
	<div class="span11 columns">
   		<h1>Bienvenido a Loonch!</h1>
   		<p>La forma más rápida y divertida de planear tus comidas</p>
	</div>
	<div class="span5 columns;">
   		<h2>Regístrate</h2>
		<%= render 'pages/signup_form' %>
    </div>
</div>
